$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;

$defaultText: #333333;
$whiteColor: #ffffff;
$blackColor: #000000;
$bodyBackground: #525252;
$darkGreyColor: #686868;
$redColor: #D24A43;
// $lightGreyColor: #F4F4F4;
// $heavyGreyColor: #7C7C7C;
// $midGreyColor: #E7E7E7;
// $greenColor: #2E8E00;
// $redColor: #8E0000;
// $yellowColor: #E9B32A;
$blackToWhite: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);


// Colors
$bg-color: hsl(255, 255, 255);
$dot-color: #C6C6C6;

// Dimensions
$dot-size: 2px;
$dot-space: 8px;

