@import "../abstracts/mixins";
@import "../abstracts/variables";

.footer {
  margin-bottom: 60px;
  @media (min-width: $breakpoint-xxl) {
    margin-bottom: 80px;
  }
  &-logo {
    margin-bottom: 60px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;
    }
    & a {
      display: block;
      width: 180px;
      @media (max-width: $breakpoint-md) {
        width: 120px;
      }
    }
  }
  &-google {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
    & a {
      width: 150px;
      display: block;
    }
  }
  &-copyright {
    margin: -40px 150px 0 0;
    @media (max-width: $breakpoint-lg) {
      margin: -40px 60px 0 0;
    }
    @media (max-width: $breakpoint-md) {
      margin: 0;
    }
    &-container {
      display: flex;
      justify-content: space-between;
    }
    & li, & a, span {
      line-height: 1.2;
      font-size: 18px;
      color: $whiteColor;
      text-decoration: none;
      @media (min-width: $breakpoint-xxl) {
        font-size: 22px;
      }
      @media (max-width: $breakpoint-md) {
        font-size: 16px;
      }
    }
    &-text {
      margin-top: 20px;
      @media (max-width: $breakpoint-md) {
        margin-top: 56px;
      }
    }
  }
}

.footer {
  & .cta {
    height: 120%;
    padding: 26px 16px 16px 26px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    @media (min-width: $breakpoint-xxl) {
      padding: 33px 20px 20px 33px;
    }
    @media (max-width: $breakpoint-md) {
      height: 110%;
      padding: 16px 12px;
    }
    span {
      font-size: 24px;
      line-height: 1.1;
      font-weight: 700;
      margin-bottom: 35px;
      @media (min-width: $breakpoint-xxl) {
        font-size: 33px;
        margin-bottom: 50px;
      }
      @media (max-width: $breakpoint-md) {
        font-size: 22px;
        max-width: 90%;
      }
    }
    .get-pdf {
      display: block;
      font-size: 18px;
      font-weight: 400;
      margin: 0;
    }
    & i {
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: auto;
      @media (max-width: $breakpoint-md) {
        font-weight: 700;
        bottom: 12px;

      }
    }
    &:hover {
      & i {
        color: $purpleColor;
        transform: translate(0, 8px);
        @media (max-width: $breakpoint-md) {
          transform: translate(0, 0);
        }
      }
    }
  }
}