@import "../abstracts/mixins";
@import "../abstracts/variables";

.body-padding {
  padding-top: 80px;
}

.header {
  position: fixed;
  width: 100%;
  background: $blackColor;
  top: 0;
  left: 0;
  z-index: 102;
  &-logo {
    max-width: 260px;
    display: block;
    margin-right: 48px;
    & img {
      object-fit: unset;
    }
  }
  &-buttons {
    
  }
}

.menu {
  &-item {
    & a {
      font-size: 22px;
      font-weight: 700;
      display: block;
      padding: 30px 28px;
    }
  }
}

