@import "../abstracts/mixins";
@import "../abstracts/variables";
.hero-screen {
  position: relative;
}
.hero-screen {
  position: relative;
  height: calc(100vh - 70px);
  margin-bottom: 250px;
  @media (min-width: $breakpoint-xxl) {
    height: calc(100vh - 90px);
  }
  @media (max-width: $breakpoint-md) {
    padding: 35px 0;
    margin-bottom: 70px;
    height: auto;
    min-height: calc(100vh - 70px);
  }
}

.scroll-down {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  & i {
    display: block;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    @include transition(.3);
    &:before {
      display: block;
      transform: rotate(-90deg);
    }
    &:hover {
      transform: translate(0, 8px);
    }
  }
}

.info-block {
  margin-bottom: 170px;
  @media (min-width: $breakpoint-xxl) {
    margin-bottom: 210px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 100px;
  }
  & .row {
    @media(max-width: $breakpoint-md) {
      flex-direction: column-reverse;
    }
  }

  &__heading {
    margin-bottom: 100px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 50px;
    }
  }
  &__image {

  }
  &__content {
    padding: 0 0 0 90px;
    max-width: 82%;
    @media (min-width: $breakpoint-xxl) {
      padding-left: 0 0 0 120px;
    }
    @media (max-width: $breakpoint-lg) {
      max-width: 100%;
      padding-left: 0;
    }
    @media (max-width: $breakpoint-md) {
      padding: 0 0 50px 0;
    }
    & p {
      font-size: 26px;
      line-height: 1.05;
      @media (min-width: $breakpoint-xxl) {
        font-size: 33px;
      }
    }
    & a {
      color: $purpleColor;
      text-decoration: underline;
    }
  }
}

.tools {
  margin-bottom: 250px;
  @media (max-width: $breakpoint-md) {
    margin-bottom: 40px;
  }
  &-content {
    margin-top: -50px;
    @media (max-width: $breakpoint-lg) {
      margin-top: -30px;
    }
    @media (max-width: $breakpoint-md) {
      margin-top: 30px;
    }
  }
  &__title {
    margin-bottom: 20px;
    @media (min-width: $breakpoint-xxl) {
      margin-bottom: 36px;
    }
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__item {
    width: 220px;
    margin-bottom: 45px;
    @media (min-width: $breakpoint-xxl) {
      width: 270px;
      margin-bottom: 75px;
    }
    @media (max-width: $breakpoint-xl) {
      width: 180px;
    }
    @media (max-width: $breakpoint-lg) {
      width: 130px;
    }
    @media (max-width: $breakpoint-md) {
      width: 40%;
    }
    & img {
      display: block;
      width: 100%;
    }
  }
  &__addition {
    @include fontSize(16,18);
    line-height: 1.1;
    font-weight: 500;
    @media (min-width: $breakpoint-xxl) {
      font-size: 24px;
    }
  }
}

.services {
  margin: 100px 0 250px 0;
  @media (max-width: $breakpoint-md) {
    margin: 40px 0 60px 0;
  }
  &.home-services {
    margin: 0 0 300px 0;
    @media (min-width: $breakpoint-xxl) {
      margin: 0 0 400px 0;
    }
    @media (max-width: $breakpoint-md) {
      margin: 0 0 100px 0;
    }
  }
  &__heading {
    margin-bottom: 90px;
    @media (min-width: $breakpoint-xxl) {
      margin-bottom: 120px;
    }
    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;
    }
  }
  &-container {
    display: flex;
    justify-content: flex-end;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    @media (max-width: $breakpoint-md) {
      justify-content: center;
    }
  }
  &__item {
    background: $purpleColor;
    padding: 20px;
    width: 32%;
    margin: 0 6px 26px 6px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    @include transition(.3);
    &:hover {
      background: $darkPurpleColor;
      & .services__item_arrow i {
        transform: translate(8px,0)
      }
    }
    &:nth-of-type(3n) {
      @media (min-width: $breakpoint-md) {
        margin-right: 0;
      }
    }
    @media (min-width: $breakpoint-xxl) {
      width: 31.6%;
      padding: 24px;
      margin: 0 8px 34px 8px;
      min-height: 250px;
    }
    @media (max-width: $breakpoint-xl) {
      width: 31.6%;
    }
    @media (max-width: $breakpoint-md) {
      width: 46%;
      min-height: auto;
      margin: 0 20px 15px 0;
      &:nth-child(even) {
        margin-right: 0;
      }
    }
    &_icon {
      margin-bottom: 16px;
    }
    &_description {
      max-width: 80%;
      @media (max-width: $breakpoint-md) {
        max-width: 90%;
        margin-bottom: 16px;
      }
    }
    &_arrow {
      & i {
        @include transition(.3);
        &:before {
          display: block;
          transform: rotate(180deg);
        }
      }
    }
  }
}

.platforms {
  margin-bottom: 250px;
  @media (min-width: $breakpoint-xxl) {
    margin-bottom: 330px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 150px;
  }
  &__heading {
    margin-bottom: 100px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 50px;
    }
  }
  &__item {
    display: block;
    margin: 0 150px 30px 0;
    @media (min-width: $breakpoint-xxl) {
      margin-bottom: 40px;
    }
    @media (max-width: $breakpoint-xl) {
      margin: 0 100px 30px 0;
    }
    @media (max-width: $breakpoint-md) {
      margin: 0 40px 30px 40px;
    }
    @media (max-width: $breakpoint-sm) {
      margin: 0 15px 30px 15px;
      &:nth-child(odd) {
        margin-left: 0;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
    }
  }
}

.cases {
  margin-bottom: 240px;
  @media (min-width: $breakpoint-xxl) {
    margin-bottom: 300px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 65px;
  }
  &__item {
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 15px;
    }
    &_content {
      position: absolute;
      bottom: 24px;
      right: 24px;
      background: $purpleColor;
      width: 70%;
      padding: 30px;
      @media (max-width: $breakpoint-md) {
        bottom: 18px;
        right: 18px;
      }
    }
    &_description {
      max-width: 80%;
      @include transition(.3);
      @media (max-width: $breakpoint-xl) {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
    &_more {
      position: absolute;
      top: 30px;
      opacity: 0;
      @include transition(.3);
    }
    &_arrow {
      & i {
        &:before {
          display: block;
          transform: rotate(180deg);
        }
      }
    }
    &:before {
      content: '';
      position: absolute;
      background: $darkPurpleColor;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(100%, 100%);
      @include transition(.3);
    }
    &:hover {
      &:before {
        transform: translate(0,0);
      }
      & .cases__item_description {
        opacity: 0;
      }
      & .cases__item_more {
        opacity: 1;
      }
    }
  }
}

.clients {
  margin-bottom: 220px;
  @media (min-width: $breakpoint-xxl) {
    // margin-bottom: 270px;
    margin-bottom: 270px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 40px;
  }
  &__heading {
    margin-bottom: 60px;
    @media (min-width: $breakpoint-xxl) {
      margin-bottom: 80px;
    }
    @media (max-width: $breakpoint-md) {
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    @media (max-width: $breakpoint-md) {
      width: 55%;
      margin-left: auto;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    @media (min-width: $breakpoint-xxl) {
      margin-top: 90px;
    }
    @media (max-width: $breakpoint-md) {
      margin-top: 40px;
    }
  }
  &__item {
    width: 220px;
    margin-bottom: 45px;
    @media (min-width: $breakpoint-xxl) {
      width: 270px;
      margin-bottom: 75px;
    }
    @media (max-width: $breakpoint-xl) {
      width: 180px;
    }
    @media (max-width: $breakpoint-lg) {
      width: 130px;
    }
    @media (max-width: $breakpoint-md) {
      width: 44%;
      margin-bottom: 20px;
    }
    & img {
      display: block;
      width: 100%;
    }
  }
}

.calendar {
  margin-bottom: 120px;
  @media (min-width: $breakpoint-xxl) {
    margin-bottom: 150px;
  }
  &__heading {
    margin-bottom: 50px;
    @media (min-width: $breakpoint-xxl) {
      margin-bottom: 60px;
    }
  }
  &__subtitle {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 25px;
    }
  }
}

.steps {
  &-container {
    position: relative;
    background: $darkPurpleColor;
    padding: 120px 105px;
    height: 700px;
    margin-bottom: 230px;
    @media (min-width: $breakpoint-xxl) {
      margin-bottom: 270px;
      padding: 145px 130px;
      height: 900px;
    }
    @media (max-width: $breakpoint-md) {
      height: auto;
      padding: 15px 15px 225px 15px;
      margin-bottom: 70px;
    }
  }
  &__heading {
    max-width: 60%;
    margin-bottom: 35px;
    @media (min-width: $breakpoint-xxl) {
      margin-bottom: 50px;
    }
    @media (max-width: $breakpoint-lg) {
      max-width: 100%;
    }
  }
  &__description {
    max-width: 40%;
    @media (max-width: $breakpoint-lg) {
      max-width: 100%;
    }
  }
  &__button {
    background: $purpleColor;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 340px;
    height: 210px;
    padding: 30px 20px 15px 30px;
    cursor: pointer;
    @media (min-width: $breakpoint-xxl) {
      width: 400px;
      height: 250px;
    }
    @media (max-width: $breakpoint-md) {
      width: 170px;
      height: 170px;
    }
    & i {
      text-align: right;
      @include transition(.3);
      &:before {
        display: inline-block;
        transform: rotate(-90deg);
      }
    }
    &:hover {
      & i {
        transform: translate(0, 8px);
      }
    }
  }
}

.contacts {
  margin-bottom: 200px;
  @media (min-width: $breakpoint-xxl) {
    margin-bottom: 250px;
  }
  @media (max-width: $breakpoint-md) {
    margin-bottom: 50px;
  }
  &__heading {
    margin-bottom: 70px;
    @media (min-width: $breakpoint-xxl) {
      margin-bottom: 90px;
    }
    @media (max-width: $breakpoint-md) {
      margin-bottom: 50px;
    }
  }
  &__form {
    & .form-submit {
      @media (max-width: $breakpoint-md) {
        margin-top: -20px;
      }
    }
  }
}