@import "../abstracts/mixins";
@import "../abstracts/variables";

.hero-screen {
  height: calc(100vh - 80px);
  margin-bottom: 50px;
  &__logo {
    width: 360px;
    @media (min-width: 1600px) {
      width: 404px;
    }
    @media (min-width: 1800px) {
      width: 460px;
    }
    @media (min-width: 2000px) {
      width: 520px;
    }
  }
  &__heading {
    & h1 {
      font-size: 110px;
      line-height: 1;
      color: $whiteColor;
      margin-bottom: 54px;
      position: relative;
      display: inline-block;
      &:before {
        content: "";
        background: $redColor;
        position: absolute;
        width: 160%;
        height: 2px;
        bottom: -25px;
        right: 0;
      }
      @media (min-width: 1600px) {

        &:before {
          bottom: -28px;
        }
      }
      @media (min-width: 1800px) {
        font-size: 122px;
        &:before {
          bottom: -28px;
        }
      }
      @media (min-width: 2000px) {
        font-size: 131px;
        &:before {
        }
      }
    }
    & h2 {
      font-size: 36px;
      line-height: 48px;
      color: $whiteColor;
    }
  }
}

.home-about {
  &__text {
    color: $whiteColor;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      border: 87px solid #3e3e3e;
      width: 110%;
      height: 160%;
      display: block;
      top: -30%;
      left: -150px;
      z-index: -2;
    }
    &:after {
      content: '';
      position: absolute;
      background: #525252;
      z-index: -1;
      width: 100%;
      height: 80%;
      left: 20%;
      top: 10%;
    }
    & h2 {
      font-size: 88px;
      line-height: 1;
      margin: 0 0 52px -120px;
      position: relative;
      display: inline-block;
      &:before {
        @include underline(125%, 4px);
        bottom: -25px;
      }
    }
    & p {
      margin-bottom: 24px;
      @media (min-width: 1600px) {
        font-size: 218x;
      }
      @media (min-width: 1800px) {
        font-size: 22px;
      }
    }
  }
}

.services {
  &.home-services {
    margin-top: 300px;
    margin-bottom: 100px;
  }
}

.tools {
  display: flex;
  flex-wrap: wrap;
  &-box {
    height: 228px;
    display: block;
    overflow: hidden;
    position: relative;
    width: 25%;
    &__overlay {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0%;
      left: -100%;
      background: $redColor;
      z-index: -1;
      border: 4px solid $whiteColor;
      & span {
        &:before {
          content: '';
          position: absolute;
          z-index: 2;
          background: $bodyBackground;
        }
        &:nth-child(1) {
          &:before {
            width: 4px;
            height: 80%;
            top: 10%;
            left: -4px;
          }
        }
        &:nth-child(2) {
          &:before {
            width: 84%;
            height: 4px;
            left: 8%;
            top: -4px;
          }
        }
        &:nth-child(3) {
          &:before {
            width: 4px;
            height: 80%;
            top: 10%;
            right: -4px;
          }
        }
        &:nth-child(4) {
          &:before {
            width: 84%;
            height: 4px;
            left: 8%;
            bottom: -4px;
          }
        }
      }
    }
  }
  &-item {
    height: 100%;
    &__title {
      color: $whiteColor;
      text-align: center;
      padding: 26px;
      font-size: 18px;
      line-height: 36px;
      @media (min-width: 1800px) {
        font-size: 22px;
      }
    }
  }
}

.team {
  &-link {
    color: $redColor;
    font-size: 24px;
    line-height: 36px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 40px;
    &:before {
      content: '';
      background: #d24a43;
      width: 40px;
      height: 2px;
      margin-right: 10px;
      display: block;
    }
  }
}