@import "../abstracts/mixins";
@import "../abstracts/variables";

.cases-list {
  & .cases__heading {
    margin: 15px 0 90px 0;
    @media (min-width: $breakpoint-xxl) {
      margin: 15px 0 120px 0;
    }
  }
}

.contacts-single {
  margin-top: 180px;
  @media (min-width: $breakpoint-xxl) {
    margin-top: 250px;
  }
  @media (max-width: $breakpoint-md) {
    margin-top: 30px;
  }
}

.calendar-single {
  margin-top: 60px;
  @media (min-width: $breakpoint-xxl) {
    margin-top: 80px;
  }
  @media (max-width: $breakpoint-md) {
    margin-top: 20px;
  }
}