@import "../abstracts/mixins";
@import "../abstracts/variables";

.hero-screen__services {
  @media (max-width: $breakpoint-md) {
    padding: 30px 0;
  }
}

.single-service {
  &__icon {
    margin-bottom: 30px;
    & i {
      font-size: 70px;
      @media (max-width: $breakpoint-md) {
        font-size: 35px;
      }
    }
  }
}
