@import "../abstracts/mixins";
@import "../abstracts/variables";

.hero-screen__cases {
  height: calc(100vh - 70px);
  margin-bottom: 120px;
  @media (min-width: $breakpoint-xxl) {
    height: calc(100vh - 90px);
    margin-bottom: 150px;
  }
  &_container {
    position: relative;
    width: 100%;
  } 
  &_image {
    & img {
      object-fit: cover;
    }
  }
  &_content {
    position: absolute;
    background: $purpleColor;
    padding: 50px 100px;
    top: 8%;
    left: 5%;
    width: 90%;
    height: 84%;
    @media (min-width: $breakpoint-xxl) {
      padding: 86px 140px;
    }
    @media (max-width: $breakpoint-lg) {
      padding: 40px 80px;
    }
    @media (max-width: $breakpoint-md) {
      padding: 30px 20px;
    }
  }
  &_heading {
    max-width: 50%;
    @media (max-width: $breakpoint-lg) {
      max-width: 60%;
    }
    @media (max-width: $breakpoint-md) {
      max-width: 100%;
    }
  }
}

.single-case {
  & .page-content {
    & img {
      margin-bottom: 95px;
    }
  }
}

.testimonial {
  margin: 250px 0 160px 0;
  @media (max-width: $breakpoint-lg) {
    margin: 150px 0 130px 0;
  }
  @media (max-width: $breakpoint-md) {
    margin: 20px 0 20px 0;
  }
  &__heading {
    max-width: 65%;
  }
  &__content {
    margin: 110px 0;
    position: relative;
    @media (min-width: $breakpoint-xxl) {
      margin: 135px 0;
    }
    &:before, &:after {
      content: '';
      position: absolute;
      background: url('../img/icon-quote.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      width: 40px;
      height: 40px;
      left: 0;
    }
    &:before {
      top: -60px;
    }
    &:after {
      bottom: -60px;
    }
  }
}