@import "../abstracts/mixins";
@import "../abstracts/variables";

// CARD ITEM

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  &__badge {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    & span {
      font-weight: bold;
      font-size: 12px;
      color: $whiteColor;
      line-height: 11px;
      padding: 2px;
      display: block;
      margin-right: 4px;
    }
    & .badge-new {
      // background: $redColor;
    }
    & .badge-discount {
      // background: $greenColor;
    }
  }

  &__info {
    // background: $lightGreyColor;
    height: auto;
    &_title {
      padding: 16px 8px;
    }
    & .price {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 20px;
      @media (max-width: $breakpoint-sm) {
        flex-direction: column-reverse;
        align-items: flex-start;
      }
      & > span:first-child, & > ins > span {
        background: $defaultText;
        color: $whiteColor;
        padding: 8px;
        font-weight: bold;
        font-size: 18px;
        line-height: 17px;
        display: flex;
        position: relative;
        margin-right: 22px;
        z-index: 2;
        @media (max-width: $breakpoint-sm) {
          margin: 0 0 10px 0;
        }
        &:before {
          content: '';
          background: #333;
          width: 24px;
          height: 23px;
          position: absolute;
          right: -12px;
          top: 5px;
          transform: rotate(45deg);
          z-index: -1;
        }
        &:after {
          content: '';
          background: #fff;
          width: 5px;
          height: 5px;
          border-radius: 100%;
          position: absolute;
          right: -5px;
          top: calc(50% - 2.5px);
        }
      }
      & ins > span {
        background: $defaultText;
        // color: $yellowColor;
      }
      & del > span {
        // color: $heavyGreyColor;
        font-size: 16px;
        line-height: 15px;
      }
      & .woocommerce-Price-currencySymbol {
        padding-left: 3px;
      }
    }

    &_more {
      position: absolute;
      text-align: center;
      background: $defaultText;
      bottom: -40px;
      left: 0;
      width: 100%;
      z-index: 3;
      color: $whiteColor;
      padding: 5px;
      @include transition(.3);
    }
  }
  &:hover {
    .product__info_more {
      transform: translateY(-40px);
    }
  }
}


