@import "../abstracts/mixins";
@import "../abstracts/variables";

.cta {
  background: none;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  @include transition(.3);
  & span {
    font-size: 12px;
    max-width: 80%;
    line-height: 1.4;
    @include transition(.3);
    @media (min-width: $breakpoint-xxl) {
      font-size: 14px;
    }
  }
  & i {
    width: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(.3);
  }
  &-white {
    background: $whiteColor;
    & span {
      color: $purpleColor;
      @include transition(.3);
    }
    & i:before {
      color: $purpleColor;
    }
  }
  &-purple {
    background: $purpleColor;
  }
}

.cta-buttons {
  height: 70px;
  @media (min-width: $breakpoint-xxl) {
    height: 90px;
  }
  @media (max-width: $breakpoint-xl) {
    display: none;
  }
  & .cta {
    width: 210px;
    height: 100%;
    text-align: left;
    position: relative;
    @media (min-width: $breakpoint-xxl) {
      width: 240px;
    }
    &:hover {
      & i {
        transform: translate(0, 15px);
        @media (max-width: $breakpoint-xl) {
          transform: unset;
        }
      }
    }
  }
}

.cta-buttons-mobile {
  @media (max-width: $breakpoint-sm) {
    flex-direction: row-reverse;
    justify-content: center;
    & .cta {
      height: 100%;
      align-items: flex-start;
      width: 49.5%;
      & span {
        font-size: 16px;
        line-height: 24px;
        max-width: 72%;
        font-weight: 700;
      }
      & i {
        position: absolute;
        right: 20px;
        bottom: 15px;
        height: auto;
        width: unset;
        align-items: flex-end;
      }
    }
  }
}

.get-pdf {
  display: none;
  @media (max-width: $breakpoint-sm) {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    padding: 10px;
  }
}