@import "../abstracts/mixins";
@import "../abstracts/variables";

.cta {
  background: none;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  & span {
    font-size: 12px;
    max-width: 80%;
    @media (min-width: $breakpoint-xxl) {
      font-size: 14px;
    }
  }
  & i {
    width: 36%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition(.3);
    &:before {
      display: block;
      transform: rotate(-90deg);
    }
  }
  &-white {
    background: $whiteColor;
    & span {
      color: $purpleColor;
    }
    & i {
      color: $purpleColor;
    }
  }
  &-purple {
    background: $purpleColor;
  }
}

.cta-buttons {
  height: 70px;
  @media (min-width: $breakpoint-xxl) {
    height: 90px;
  }
  @media (max-width: $breakpoint-xl) {
    display: none;
  }
  & .cta {
    width: 210px;
    height: 100%;
    text-align: left;
    position: relative;
    @media (min-width: $breakpoint-xxl) {
      width: 240px;
    }
    &:hover {
      & i {
        transform: translate(0, 15px);
        @media (max-width: $breakpoint-xl) {
          transform: unset;
        }
      }
    }
  }
}

.cta-buttons-mobile {
  @media (max-width: $breakpoint-sm) {
    flex-direction: row-reverse;
    & .cta {
      height: 180px;
      align-items: flex-start;
      width: 49.6%;
      & span {
        font-size: 22px;
        line-height: 24px;
        max-width: 72%;
        &.get-pdf {
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 16px;
          padding: 10px;
        }
      }
      & i {
        height: 100%;
        align-items: flex-end;
      }
    }
  }
}