@import "../abstracts/mixins";
@import "../abstracts/variables";

.cta {
  background: none;
  border: none;
  font-size: 14px;
  padding: 10px;
  &-white {
    background: $whiteColor;
    color: $purpleColor;
  }
  &-purple {
    background: $purpleColor;
    color: $whiteColor;
  }
}

.header-buttons {
  & .cta {
    max-width: 260px;
  }
}