@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  &-primary, &-outline {
    background: $redColor;
    color: $whiteColor;
    border: 2px solid $redColor;
    font-size: 16px;
    line-height: 24px;
    padding: 9px 24px;
    @include transition(.3);
    cursor: pointer;
    &:hover {
      // color: $redColor;
      background: transparent;
    }
  }
  &-outline {
    background: $whiteColor;
    color: $redColor;
  }
  &-link {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $defaultText;
      @include transition(.3);
    }
    &:hover {
      &:before {
        width: 0;
      }
    }
  }
}

.icon-icon-filter {
  background-image: url('../img/icons/filter.svg');
  background-repeat: no-repeat;
  background-position: center; 
  width: 40px;
  height: 25px;
  display: block;
}

.btn-filter {
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  @media (max-width: $breakpoint-md) {
    display: flex;
  }
}