@import "../abstracts/mixins";
@import "../abstracts/variables";

.page-content {
  & p {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 40px;
    @media (min-width: $breakpoint-xxl) {
      font-size: 24px;
      margin-bottom: 50px;
    }
    @media (max-width: $breakpoint-md) {
      margin-bottom: 34px;
    }
  }
  & img {
    display: block;
    max-width: 200%;
    margin-bottom: 120px;
    
    @media (min-width: $breakpoint-xxl) {
      margin-bottom: 150px;
    }
    @media (max-width: $breakpoint-md) {
      max-width: 100%;
      margin-bottom: 100px;
    }
  }
  & ul, ol {
    margin-bottom: 90px;
    @media (min-width: $breakpoint-xxl) {
      margin-bottom: 120px;
    }
    @media (max-width: $breakpoint-md) {
      margin-bottom: 44px;
    }
    & li {
      margin-bottom: 30px;
      @media (max-width: $breakpoint-md) {
        margin-bottom: 20px;
      }
    }
  }
  & a {
    color: $purpleColor;
    text-decoration: underline;
    @include transition(.3);
    &:hover {
      color: $darkPurpleColor;
    }
  }
  & ul {
    & li {
      padding-left: 20px;
      position: relative;
      @include fontSize(18,24);
      line-height: 1.2;
      font-weight: 700;
      @media (min-width: $breakpoint-xxl) {
        font-size: 33px;
      }
      &:before {
        content: '';
        position: absolute;
        left: 4px;
        top: 10px;
        width: 5px;
        height: 5px;
        background: $whiteColor;
        border-radius: 100%;
      }
    }
  }
  & ol {
    & li {
      counter-increment: li;
      &:before {
        content: counter(li) ".";
        font-weight: 700;
        padding: 0 4px;
        display: inline-block;
        min-width: 24px;
      }
    }
  }
  & blockquote {
    margin: 350px 0 270px 110px;
    width: 600px;
    line-height: 1.1;
    font-weight: 700;
    font-size: 50px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background: url(../img/ribbon-quote.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: -1;
      width: 230%;
      height: 1000%;
      top: -50%;
      background-position: 0 -200px;
      transform: scale(1.5);
      left: 224px;
      @media (max-width: $breakpoint-lg) {
        top: -60%;
      }
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
    &:after {
      display: none;
      position: absolute;
      background: url(../img/ribbon-mobile.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      transform: rotate(180deg);
      z-index: -1;
      width: 650px;
      height: 1040px;
      top: -400px;
      right: -238px;
      @media (max-width: $breakpoint-md) {
        display: block;
      }
    }
    @media (min-width: $breakpoint-xxl) {
      font-size: 80px;
      margin: 450px 0 330px 150px;
      width: 940px;
    }
    @media (max-width: $breakpoint-xl) {
      width: 500px;
      font-size: 40px;
      margin: 250px 0 200px 110px;
    }
    @media (max-width: $breakpoint-lg) {
      margin-left: 120px;
      width: 400px;
    }
    @media (max-width: $breakpoint-md) {
      max-width: 100%;
      width: 100%;
      margin: 130px 0 170px 0;
    }
  }
}


