@import "../abstracts/mixins";
@import "../abstracts/variables";

main {
  overflow: hidden;
}
.mribbon {
  display: none;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  &.--left {
    left: -200px;
  }
  &.--right {
    right: -200px;
    transform: rotate(180deg);
  }
  @media (max-width: $breakpoint-md) {
    display: block;
    &-contact {
      top: 260px;
    }
  }
}


.ribbon {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  @media (max-width: $breakpoint-md) {
    display: none;
  }
  &-home {
    &-hero {
      transform: scale(.7);
      right: -15%;
      top: -110%;
    }
    &-info-second {
      top: -145%;
      right: -34%;
      transform: scale(.7);
    }
    &-info-third {
      top: -305%;
      left: -65%;
      transform: scale(0.7);
    }
    &-clients {
      transform: scale(.7);
      top: -106%;
      right: -40%;
    }
    &-contact {
      left: -33%;
      top: -262%;
      transform: scale(0.8);
    }
  }
  &-services {
    &-hero {
      top: -109%;
      left: -54%;
    }
  }
  &-cases {
    &-hero {
      
    }
  }
}
@media (max-width: $breakpoint-xl) {
  .ribbon {
    &-home {
      &-hero {
        top: -110%;
        right: -25%;
      }
      &-info-second {
        right: -60%;
        top: -170%;
      }
      &-info-third {
        top: -455%;
        left: -115%;
      }
      &-clients {
        top: -146%;
        right: -60%;
      }
      &-contact {
        left: -93%;
        top: -302%;
      }
    }
    &-services {
      &-hero {
        top: -109%;
        left: unset;  
        right: -40px;
      }
    }
  }
}
@media (max-width: $breakpoint-lg) {
  .ribbon {
    &-home {
      &-info-second {
        right: -80%;
        top: -210%;
      }
      &-info-third {
        top: -525%;
        left: -185%;
      }
    }
  }
}
@media (min-width: 1600px) {
  .ribbon {
    // home
    &-home {
      &-hero {
        top: -90%;
      }
      &-info-second {
        top: -130%;
        right: -34%;
        transform: scale(0.9);
      }
      &-info-third {
        top: -277%;
        left: -55%;
        transform: scale(0.8)
      }
      &-clients {
        top: -102%;
        right: -35%;
        transform: scale(0.8);
      }
      &-contact {
        left: -24%;
      }
    }
    &-services {
      &-hero {
        top: -98%;
        left: -38%;
      }
    }
  }
}
@media (min-width: 1800px) {
  .ribbon {
    // home
    &-home {
      &-hero {
        right: -6%;
        top: -76%;
        transform: scale(0.9);
      }
      &-info-second {
        top: -110%;
        right: -19%;
        transform: scale(1);
      }
      &-info-third {
        top: -250%;
        transform: scale(1);
        left: -57%;
      }
      &-clients {
        top: -58%;
        right: -37%;
        transform: scale(1);
      }
      &-contact {
        top: -196%;
        left: -19%;
        transform: scale(1);
      }
    }
    &-services {
      &-hero {
        top: -88%;
        left: -22%;
      }
    }
  }
}
@media (min-width: 2000px) {
  .ribbon {
    // home
    &-home {
      &-hero {
        top: -62%;
        right: -2%;
        transform: scale(1);
      }
      &-info-second {
        right: -15%;
        transform: scale(1.1);
      }
      &-info-third {
        top: -251%;
        transform: scale(1);
        left: -35%;
      }
      &-clients {
        right: -22%;
      }
      &-contact {
        top: -196%;
        left: -12%;
      }
    }
    &-services {
      &-hero {
        top: -58%;
        left: -250px;
      }
    }
  }
}
