@import "../abstracts/mixins";
@import "../abstracts/variables";

.--relative {
  position: relative;
}

.full-height {
  height: 100%;
}

.default-icon {
  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.cases__item_image {
  width: 100%;
  height: 100%;
  & img {
    object-fit: cover;
  }
}
body.active {
  overflow: hidden;
}

.footer-inside {
  .footer {
    margin-top: 100px;
  }
}

// a {
//   color: $purpleColor;
//   border-bottom: 1px solid $purpleColor;
// }

// section {
//   @media (max-width: $breakpoint-md) {
//     margin-bottom: 30px;
//   }
// }

// main {
//   margin-bottom: 60px;
// }